*~
/build
/scripts/*runs/
__pycache__/
*.egg-info
*.DS_Store
data/
instance/
.*node_modules/
*__pycache__*
*.ipynb_checkpoints*
trajs/
.mypy_cache/
/pantheonrl_extension/runs/
train/balance/
train/random1/
train/simple/
train/results/
overcooked_flask/testing/
